{% extends "base.html" %}
{% load static %}
{% load cache %}

{% block content %}
<div class="container-fluid">
  <div class="row mt-1">
    <div class="col-md-5">
      <div class="alert alert-info">
        Your API key: <code>{{ my_token }}</code>
      </div>
    </div>
  </div>

  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>




        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>adipiscing</td>
              <td>elit</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>Integer</td>
              <td>nec</td>
              <td>odio</td>
              <td>Praesent</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>libero</td>
              <td>Sed</td>
              <td>cursus</td>
              <td>ante</td>
            </tr>
            <tr>
              <td>1,004</td>
              <td>dapibus</td>
              <td>diam</td>
              <td>Sed</td>
              <td>nisi</td>
            </tr>
            <tr>
              <td>1,005</td>
              <td>Nulla</td>
              <td>quis</td>
              <td>sem</td>
              <td>at</td>
            </tr>
            <tr>
              <td>1,006</td>
              <td>nibh</td>
              <td>elementum</td>
              <td>imperdiet</td>
              <td>Duis</td>
            </tr>
            <tr>
              <td>1,007</td>
              <td>sagittis</td>
              <td>ipsum</td>
              <td>Praesent</td>
              <td>mauris</td>
            </tr>
            <tr>
              <td>1,008</td>
              <td>Fusce</td>
              <td>nec</td>
              <td>tellus</td>
              <td>sed</td>
            </tr>
            <tr>
              <td>1,009</td>
              <td>augue</td>
              <td>semper</td>
              <td>porta</td>
              <td>Mauris</td>
            </tr>
            <tr>
              <td>1,010</td>
              <td>massa</td>
              <td>Vestibulum</td>
              <td>lacinia</td>
              <td>arcu</td>
            </tr>
            <tr>
              <td>1,011</td>
              <td>eget</td>
              <td>nulla</td>
              <td>Class</td>
              <td>aptent</td>
            </tr>
            <tr>
              <td>1,012</td>
              <td>taciti</td>
              <td>sociosqu</td>
              <td>ad</td>
              <td>litora</td>
            </tr>
            <tr>
              <td>1,013</td>
              <td>torquent</td>
              <td>per</td>
              <td>conubia</td>
              <td>nostra</td>
            </tr>
            <tr>
              <td>1,014</td>
              <td>per</td>
              <td>inceptos</td>
              <td>himenaeos</td>
              <td>Curabitur</td>
            </tr>
            <tr>
              <td>1,015</td>
              <td>sodales</td>
              <td>ligula</td>
              <td>in</td>
              <td>libero</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>


<div class="row justify-content-center mt-4 mb-5">
  <div class="col-md-12">
    <h1>Workspace</h1>

    <p>The workspace is a collection of tools and statistics to power you hunting, analysis and reporting on
      Pithus.
      This
      section in under development, expect many changes.</p>

    <p>If you feel some parts aren't right or you'd like to see some features, feel free to reach the team!</p>
  </div>


  <div class="m-5 col-md-12">
    <h2>Bookmarked samples</h2>
    {% for b in bookmarked_samples %}
    <table class="table table-condensed table-sm">
      <tr>
        <td class="">
          <a href="{% url 'front:report' b.sample %}">{{b.sample}}</a>
        </td>
      </tr>
    </table>
    {% endfor %}
  </div>

  <div class="col-md-6 ">
    <h2>Yara hunting</h2>
  </div>
  <div class="col-md-6 text-right">
    <a href="{% url 'front:my_rule_create' %}" class="btn btn-primary">
      <span class="huge"><i class="fas fa-plus"></i></span>
      <br>
      New rule
    </a>
  </div>
  <div class="col-md-12 m-5">
    <div class="accordion" id="accordionExample">
      <h3>Yara matches</h3>
      {% for rule in my_rules %}
      <div class="card">
        <div class="card-header" id="heading-{{ rule.rule.id }}">
          <div class="row">
            <div class="col">
              <button class="btn btn-primary mr-4" data-toggle="collapse" data-target="#collapse-{{ rule.rule.id }}"
                aria-expanded="true" aria-controls="collapse-{{ rule.rule.id }}">
                <i class="fas fa-binoculars text-white"></i>&nbsp;
                <span class="">
                  {{ rule.matches|length }}
                </span>
              </button>
              <span class="h6">{{ rule.rule.title }}</span>
            </div>
            <div class="col-md-2 text-right h4">
              <a href="#" data-toggle="modal" data-target="#ruleModal-{{ rule.rule.id }}"
                class="mr-1 text-decoration-none">
                <i class="nf nf-mdi-eye_outline h5" data-toggle="tooltip" data-placement="top"
                  title="View the ruleset"></i>
              </a>
              <a href="{% url 'front:my_rule_edit' rule.rule.id %}" class="mr-1 text-decoration-none">
                <i class="nf nf-fa-edit h5" data-toggle="tooltip" data-placement="top" title="Edit the ruleset"></i>
              </a>
              <a href="{% url 'front:my_rule_retro' rule.rule.id %}" class="mr-1 text-decoration-none">
                <i class="nf nf-mdi-history h5" data-toggle="tooltip" data-placement="top"
                  title="Launch retro-hunt"></i>
              </a>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="ruleModal-{{ rule.rule.id }}" tabindex="-1" role="dialog"
            aria-labelledby="ruleModalLabel">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="modal-title" id="title">
                    {{ rule.rule.title }}
                    <a href="{% url 'front:my_rule_delete' rule.rule.id %}" data-toggle="tooltip"
                      data-placement="bottom" title="Delete this rule and its history"><i class="fas fa-trash"></i></a>
                  </div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                      aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <pre id="content">{{ rule.rule.content }}</pre>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="collapse-{{ rule.rule.id }}" class="collapse " aria-labelledby="heading-{{ rule.rule.id }}"
          data-parent="#accordionExample">
          <div class="card-body">
            {% if rule.matches|length == 0 %}
            <p>No matches</p>
            {% endif %}

            {% for m in rule.matches %}
            <div class="row mb-4">
              <div class="col-md-4">
                <div class="card m-1 shadow-sm border-secondary">
                  <div class="card-header bg-secondary-light">
                    Hunting information:
                  </div>
                  <div class="card-body p-2">
                    {% if m.matches.inner_rules %}
                    <i class="fas fa-tags"></i>
                    {% endif %}
                    {% for ir in m.matches.inner_rules %}
                    <span class="badge badge-secondary text-white">{{ ir }}</span>
                    {% endfor %}
                    <br>
                    {% if m.matches.matching_files %}
                    <br><i class="fas fa-file-alt"></i> matching files:<br>
                    {% endif %}
                    {% for f in m.matches.matching_files %}
                    <samp class="small">{{ f }}</samp><br>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                {% for result in m.sample %}
                {% include "front/m_result_flat.html" %}
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="col-md-12">
  <h2>Trends</h2>

  <table class="table table-condensend table-md">
    <tr>
      <th>
        <h3>Last samples</h3>
      </th>
      <th>
        <h3>Highest matching Yara rules</h3>
      </th>
      <th>
        <h3>Trending malwares</h3>
      </th>
    </tr>

    {% for sample in trends.samples %}
    {% for rule in trends.rules %}
    <tr>
      <td>
        <a href="/report/{{sample.sha256}}" target="_blank">
          {{sample.handle}}
        </a>
      </td>

      <td>
        {{rule.rule.title}} -
        {{rule.matches|length}} matches
      </td>

      <td>PROUT</td>
    </tr>

    {% endfor %}
    {% endfor %}
  </table>
</div>

</div>

<!-- container -->
</div>


{% endblock %}